@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") */
/*Uitzonderingen:*/
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/




/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ------------------------------- 2. Typography ----------------------------------- */

h1 {
    font-family: inherit;
    font-size: 65px;
    /*max-width: 100%;*/
    text-align: inherit;
    margin: 50px 50px;
}



/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    background: linear-gradient(90deg, rgba(87,34,205,1) 0%, rgba(99,97,209,1) 100%);
    position: relative;
    padding: 175px 160px;
    align-content: center;
}

.squiggle {
    background-image: url("/assets/squiggle_line_stripe.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 250px;
    width: 500px;
    left: 700px;
}

.navbar {
    font-family: 'Roboto-thin', sans-serif;
    font-size: 28px;
    display: flex;
    position: absolute;
    top: 40px;
    right: 0;
    flex-direction: row;
    justify-content: right;
    border: 2px solid black;
    margin: 0 0 250px 0;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav-item {
    font-family: "Roboto-thin", sans-serif;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 15px;
    padding: 0 50px 0 50px;

}

.header-quote {
    margin: 50px 50px;
    font-family: 'Roboto-thin', sans-serif;
    font-weight: lighter;
    font-size: 35px;
}

.header-button {
    border-radius: 50px 50px;
    border: none;
    background-color: #ED4385;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif ;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 20px;
    width: 250px;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction {
    font-family: "Merriweather", serif;
    color:  #5722CD;
    font-size: 30px;
    text-align: center;
    align-content: center;

}

.intro-p1, .intro-p2, .intro-p3 {
    padding: 30px 0;

}

.contact-us {
    font-family: "Roboto", sans-serif;
    color: #0C0C0C;
    text-align: center;
    font-size: 18px;
    margin: 50px 0;

}

.contact-link {
    color: #5722CD;

}

/* --------------- 4.3 Work Projects ------------------- */

.rolling-stone {
    font-family: "Merriweather", serif;
    color: #0C0C0C;
    padding: 180px;
    margin: 250px;

}

.work-01 {

    background-image: url("/assets/squiggle_line.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 250px;
    width: 500px;
    left: 700px;

}


img {
    width: 100%;
    padding: 500px;
    margin: 250px;

}

.image-wrapper-rolling-stone {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 10px;
    padding: 20px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */